In [7]:
numeros = [i**3 for i in range(1, 20) if i % 2 != 0]
numeros

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [8]:
lista = ["felipe", "ana", "carla", "mario"]

nova_lista = [nome.upper() for nome in lista if len(nome) > 4]
nova_lista

['FELIPE', 'CARLA', 'MARIO']

In [9]:
quadrado = {i:i**2 for i in range(6)}
quadrado

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
cubos = list(map(lambda x: x**3, [i for i in range(6)]))
cubos

[0, 1, 8, 27, 64, 125]

In [11]:
nomes = ["Ana", "Bruno", "Alice", "Marcos"]
nomes_com_a = list(filter(lambda nome: nome[0] == 'A', nomes))
nomes_com_a

['Ana', 'Alice']

In [12]:
from functools import reduce


soma_pares = reduce(lambda x, y: x + y, [i for i in range(10) if i % 2 == 0])
print(soma_pares)

20