In [76]:
import pandas as pd

path = "dados/vendas_produtos.csv"

df_vendas = pd.read_csv(path)

df_vendas.head()

           Cidade  Preco_venda Dia_semana Tipo_venda Desconto   Lucro
0        Curitiba         77.0    Domingo     Remota      Sim   19.24
1    Porto Alegre        184.0     Quarta     Remota      Sim   88.37
2  Belo Horizonte        250.0     Sábado     Remota      Não   98.20
3    Porto Alegre        889.0    Segunda     Remota      Sim  301.78
4    Porto Alegre        829.0     Quinta     Online      Sim  134.64

In [77]:
df_vendas.sort_values(by=['Cidade', 'Preco_venda'], ascending=[True, False])

            Cidade  Preco_venda Dia_semana Tipo_venda Desconto   Lucro
36  Belo Horizonte        941.0    Domingo     Online      Não  208.76
34  Belo Horizonte        907.0      Terça     Online      Não  441.03
30  Belo Horizonte        844.0     Sábado     Online      Não  289.51
11  Belo Horizonte        777.0     Sábado     Remota      Não  379.15
89  Belo Horizonte        759.0     Quinta     Online      Não  219.26
..             ...          ...        ...        ...      ...     ...
81       São Paulo        434.0    Domingo     Online      Sim  151.60
76       São Paulo        397.0     Quinta     Online      Não  162.18
87       São Paulo        308.0      Terça     Online      Não  109.35
33       São Paulo         64.0     Quinta     Online      Sim   30.69
24       São Paulo         54.0     Sábado     Online      Sim   15.25

[100 rows x 6 columns]

### Métodos para realização de cálculos em colunas:
- abs: retorna uma lista com os valores absolutos da coluna.
- count: conta o número de células da coluna que possuem valores disponíveis.
- nunique: conta os valores distintos na coluna.
- sum: calcula a soma dos valores da coluna.
- min: obtém o menor valor da coluna
- max: obtém o maior valor da coluna
- mean: calcula a média dos valore da coluna.
- median: obtém a mediana dos valores da coluna.

In [78]:
df_rh = pd.read_csv("dados/rh.csv")
df_rh.head()

,Departamento,Cargo,Nome,Salario,Data_Contratacao,Horas_Diarias
0,Tecnologia,Desenvolvedor Sênior,Sofia Ribeiro,12500.50,2021-03-15,40
1,Vendas,Gerente de Vendas,Lucas Martins,9800.00,2019-07-22,40
2,RH,Analista de RH,Julia Almeida,4800.75,2022-01-10,40
3,Marketing,Especialista em SEO,Mateus Santos,6200.00,2021-11-05,40
4,Tecnologia,Desenvolvedor Júnior,Isabela Ferreira,4500.00,2023-06-20,40

In [79]:
print(f"Quantidade de funcionarios: {df_rh.Nome.count()}")

Quantidade de funcionarios: 98

In [80]:
folha_de_pagamento = df_rh.Salario.sum()
print(f"A folha de pagamento é de R$ {folha_de_pagamento:.2f}")

A folha de pagamento é de R$ 637494.20

In [81]:
salario_medio = df_rh["Salario"].mean()
print(f"O salário médio da empresa é de R$ {salario_medio:.2f}")

O salário médio da empresa é de R$ 6505.04

In [82]:
menor_salario = df_rh["Salario"].min()
print(f"O menor salário da empresa é de R$ {menor_salario:.2f}")

O menor salário da empresa é de R$ 1500.00

In [83]:
maior_salario = df_rh["Salario"].max()
print(f"O maior salário da empresa é de R${maior_salario:.2f}")

O maior salário da empresa é de R$13800.90

In [84]:
mediana = df_rh["Salario"].median()
print(f"A mediana dos salários é de R$ {mediana:.2f}")

A mediana dos salários é de R$ 5275.62

In [85]:
df_vendas.head()

           Cidade  Preco_venda Dia_semana Tipo_venda Desconto   Lucro
0        Curitiba         77.0    Domingo     Remota      Sim   19.24
1    Porto Alegre        184.0     Quarta     Remota      Sim   88.37
2  Belo Horizonte        250.0     Sábado     Remota      Não   98.20
3    Porto Alegre        889.0    Segunda     Remota      Sim  301.78
4    Porto Alegre        829.0     Quinta     Online      Sim  134.64

In [86]:
print("Total de vendas", df_vendas["Preco_venda"].sum())

Total de vendas 55612.0

In [87]:
df_vendas.groupby("Cidade")["Lucro"].mean()

df_vendas.groupby("Cidade")["Preco_venda"].sum().max()

np.float64(13452.0)

In [88]:
df_vendas.groupby("Cidade").agg({
    "Preco_venda": ["mean", "sum"],
    "Lucro": ["mean", "max"]
})

               Preco_venda                Lucro
                      mean      sum        mean     max
Cidade
Belo Horizonte  497.312500   7957.0  167.089375  441.03
Curitiba        517.384615  13452.0  124.337692  389.29
Porto Alegre    579.368421  11008.0  174.530000  369.76
Rio de Janeiro  600.952381  12620.0  157.715238  355.64
São Paulo       587.500000  10575.0  192.046667  346.39

In [89]:
df_importado = pd.read_csv("notas_finais.csv", sep=";")

df_importado.head()

      Nome  Nota 1  Nota 2  Nota Final
0      Ana     8.5     7.0        7.75
1    Bruno     6.0     5.5        5.75
2    Carla     9.0     8.5        8.75
3    Diego     4.0     6.0        5.00
4  Eduarda     7.5     8.0        7.75

In [90]:
df_importado["Situacao"] = df_importado["Nota Final"].apply(lambda x: "Aprovado" if x >= 7 else "Reprovado")
df_importado

      Nome  Nota 1  Nota 2  Nota Final   Situacao
0      Ana     8.5     7.0        7.75   Aprovado
1    Bruno     6.0     5.5        5.75  Reprovado
2    Carla     9.0     8.5        8.75   Aprovado
3    Diego     4.0     6.0        5.00  Reprovado
4  Eduarda     7.5     8.0        7.75   Aprovado

In [91]:
df_produtos = pd.read_csv("dados/products-1000.csv")

df_produtos.head()

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Thermostat Drone Heater,Consumer approach woman us those star.,Bradford-Yu,Kitchen Appliances,74,USD,139,8619793560985,Orchid,Medium,backorder,38
1,2,Ultra Speaker Iron Grill Advanced One,Point suggest easy money operation could white.,Douglas Group,Fitness Equipment,510,USD,351,3057216124300,MediumSeaGreen,Small,backorder,27
2,3,Watch Headphones Kettle,Reach husband education.,Landry-Austin,Beauty & Personal Care,254,USD,409,9825254410556,Lavender,XXL,pre_order,2
3,4,Portable Toaster Clock Monitor Silent,Always choose school poor table main.,"Odom, Norton and Foster",Makeup,69,USD,119,9490814777808,Pink,XL,in_stock,94
4,5,Pro Toaster Oven,Worry put discuss easy back too career.,"Fowler, Mendoza and Mcdaniel",Automotive,525,USD,727,4726650403799,LightCoral,XL,in_stock,95

In [92]:
df_produtos = df_produtos.rename(columns={"Price": "Preco", "Stock": "Estoque"})
df_produtos = df_produtos.drop(["Index", "Description", "Currency", "EAN", "Color", "Size", "Availability", "Internal ID"], axis=1)
df_produtos.head()

,Name,Brand,Category,Preco,Estoque
0,Thermostat Drone Heater,Bradford-Yu,Kitchen Appliances,74,139
1,Ultra Speaker Iron Grill Advanced One,Douglas Group,Fitness Equipment,510,351
2,Watch Headphones Kettle,Landry-Austin,Beauty & Personal Care,254,409
3,Portable Toaster Clock Monitor Silent,"Odom, Norton and Foster",Makeup,69,119
4,Pro Toaster Oven,"Fowler, Mendoza and Mcdaniel",Automotive,525,727

In [93]:
df_produtos["Valor Total"] = df_produtos["Preco"] * df_produtos["Estoque"]
df_produtos.head()

,Name,Brand,Category,Preco,Estoque,Valor Total
0,Thermostat Drone Heater,Bradford-Yu,Kitchen Appliances,74,139,10286
1,Ultra Speaker Iron Grill Advanced One,Douglas Group,Fitness Equipment,510,351,179010
2,Watch Headphones Kettle,Landry-Austin,Beauty & Personal Care,254,409,103886
3,Portable Toaster Clock Monitor Silent,"Odom, Norton and Foster",Makeup,69,119,8211
4,Pro Toaster Oven,"Fowler, Mendoza and Mcdaniel",Automotive,525,727,381675

In [94]:
filtro_automative = df_produtos[df_produtos["Category"] == "Automotive"]
filtro_automative.head()

,Name,Brand,Category,Preco,Estoque,Valor Total
4,Pro Toaster Oven,"Fowler, Mendoza and Mcdaniel",Automotive,525,727,381675
49,Automatic Clock Lock Digital Touch,Hess-Daniel,Automotive,549,303,166347
75,Silent Iron Monitor Eco,Cochran-Burton,Automotive,892,895,798340
101,Heater Mixer Shaver,"Ho, Lang and Shannon",Automotive,459,465,213435
108,Digital Toaster Scanner Touch,Olson-Mills,Automotive,729,42,30618

In [95]:
filtro_produtos_fora_de_estoque = df_produtos[df_produtos["Estoque"] == 0]
filtro_produtos_fora_de_estoque

Empty DataFrame
Columns: [Name, Brand, Category, Preco, Estoque, Valor Total]
Index: []

In [96]:
filtro_produtos_preco_maior_que_500 = df_produtos[df_produtos["Preco"] > 500]
filtro_produtos_preco_maior_que_500

,Name,Brand,Category,Preco,Estoque,Valor Total
1,Ultra Speaker Iron Grill Advanced One,Douglas Group,Fitness Equipment,510,351,179010
4,Pro Toaster Oven,"Fowler, Mendoza and Mcdaniel",Automotive,525,727,381675
6,Eco Cooler Printer Speaker Prime Prime,"Soto, Raymond and Doyle",Health & Wellness,621,245,152145
8,Silent Headphones Stove Wireless Air Clean,Hughes and Sons,Home & Kitchen,858,525,450450
10,Portable Fan Monitor Toaster Pro Smart Air,"Wilkins, Horne and Farrell",Health & Wellness,738,417,307746
...,...,...,...,...,...,...
994,Compact Scale Headphones Sense Prime,Fuentes-Curtis,Sports & Outdoors,537,801,430137
995,Silent Router Phone Portable Automatic,Huffman Group,Toys & Games,903,737,665511
997,Wireless Vacuum Shaver,Ramos-Cardenas,Beauty & Personal Care,615,630,387450
998,Portable Cooker Brush 360 Digital Mini,Hooper-Bender,Men's Clothing,811,566,459026
999,Smart Watch Edge Digital Sense,Campos Inc,Kitchen Appliances,867,769,666723

In [97]:
produtos_em_estoque_com_preco_menor_que_100 = df_produtos[
    (df_produtos["Estoque"] > 500) &
    (df_produtos["Preco"] < 100)
]
produtos_em_estoque_com_preco_menor_que_100.describe()

           Preco     Estoque   Valor Total
count  41.000000   41.000000     41.000000
mean   43.780488  702.024390  30875.439024
std    27.072599  132.598734  19828.314838
min     1.000000  506.000000    634.000000
25%    20.000000  587.000000  12224.000000
50%    41.000000  698.000000  32882.000000
75%    59.000000  785.000000  41605.000000
max    99.000000  968.000000  79548.000000

In [98]:
df_produtos.at[10, "Preco"] = 800
df_produtos.head(11)

,Name,Brand,Category,Preco,Estoque,Valor Total
0,Thermostat Drone Heater,Bradford-Yu,Kitchen Appliances,74,139,10286
1,Ultra Speaker Iron Grill Advanced One,Douglas Group,Fitness Equipment,510,351,179010
2,Watch Headphones Kettle,Landry-Austin,Beauty & Personal Care,254,409,103886
3,Portable Toaster Clock Monitor Silent,"Odom, Norton and Foster",Makeup,69,119,8211
4,Pro Toaster Oven,"Fowler, Mendoza and Mcdaniel",Automotive,525,727,381675
5,Mini Speakerphone Mixer,Burton-Gould,Team Sports,413,566,233758
6,Eco Cooler Printer Speaker Prime Prime,"Soto, Raymond and Doyle",Health & Wellness,621,245,152145
7,Webcam Trimmer Projector,"Padilla, Dunn and Pruitt",Laptops & Computers,414,559,231426
8,Silent Headphones Stove Wireless Air Clean,Hughes and Sons,Home & Kitchen,858,525,450450
9,Wireless Charger Air Premium Ultra,Mcbride-Wyatt,Health & Wellness,153,550,84150
10,Portable Fan Monitor Toaster Pro Smart Air,"Wilkins, Horne and Farrell",Health & Wellness,800,417,307746

In [99]:
df_produtos2 = pd.read_csv("dados/products-1000.csv")
df_produtos["Disponibilidade"] = df_produtos2["Availability"]
df_produtos.head()

,Name,Brand,Category,Preco,Estoque,Valor Total,Disponibilidade
0,Thermostat Drone Heater,Bradford-Yu,Kitchen Appliances,74,139,10286,backorder
1,Ultra Speaker Iron Grill Advanced One,Douglas Group,Fitness Equipment,510,351,179010,backorder
2,Watch Headphones Kettle,Landry-Austin,Beauty & Personal Care,254,409,103886,pre_order
3,Portable Toaster Clock Monitor Silent,"Odom, Norton and Foster",Makeup,69,119,8211,in_stock
4,Pro Toaster Oven,"Fowler, Mendoza and Mcdaniel",Automotive,525,727,381675,in_stock

In [101]:
df_produtos["Disponibilidade"] = df_produtos["Disponibilidade"].apply(lambda x: "em espera" if x == "backorder" else x)
df_produtos.head(10)

,Name,Brand,Category,Preco,Estoque,Valor Total,Disponibilidade
0,Thermostat Drone Heater,Bradford-Yu,Kitchen Appliances,74,139,10286,em espera
1,Ultra Speaker Iron Grill Advanced One,Douglas Group,Fitness Equipment,510,351,179010,em espera
2,Watch Headphones Kettle,Landry-Austin,Beauty & Personal Care,254,409,103886,pre_order
3,Portable Toaster Clock Monitor Silent,"Odom, Norton and Foster",Makeup,69,119,8211,in_stock
4,Pro Toaster Oven,"Fowler, Mendoza and Mcdaniel",Automotive,525,727,381675,in_stock
5,Mini Speakerphone Mixer,Burton-Gould,Team Sports,413,566,233758,out_of_stock
6,Eco Cooler Printer Speaker Prime Prime,"Soto, Raymond and Doyle",Health & Wellness,621,245,152145,limited_stock
7,Webcam Trimmer Projector,"Padilla, Dunn and Pruitt",Laptops & Computers,414,559,231426,limited_stock
8,Silent Headphones Stove Wireless Air Clean,Hughes and Sons,Home & Kitchen,858,525,450450,discontinued
9,Wireless Charger Air Premium Ultra,Mcbride-Wyatt,Health & Wellness,153,550,84150,in_stock

In [105]:
df_produtos2["Color"].fillna("Desconhecida")
df_produtos2[df_produtos2["Color"] == "Desconhecida"]

Empty DataFrame
Columns: [Index, Name, Description, Brand, Category, Price, Currency, Stock, EAN, Color, Size, Availability, Internal ID]
Index: []

In [110]:
df_produtos[(df_produtos["Preco"] == df_produtos["Preco"].max()) & (df_produtos["Disponibilidade"] == "in_stock")]

,Name,Brand,Category,Preco,Estoque,Valor Total,Disponibilidade
16,Digital Clock Lock Eco Premium Portable,Leonard LLC,Office Supplies,999,14,13986,in_stock

In [113]:
df_produtos[(df_produtos["Preco"] == df_produtos["Preco"].min())]

,Name,Brand,Category,Preco,Estoque,Valor Total,Disponibilidade
602,Wireless Scooter Microphone,Bailey Group,Sports & Outdoors,1,258,258,em espera
815,Smart Heater Thermostat,Lane-Mcneil,Men's Clothing,1,634,634,discontinued

In [121]:
#df_produtos[df_produtos["Brand"] == "Douglas Group"]["Estoque"].sum()
estoque_por_brand = df_produtos.groupby("Brand")["Estoque"].sum()

estoque_por_brand["Douglas Group"]

np.int64(351)

In [129]:
df_produtos2["Size"].unique()

array(['Medium', 'Small', 'XXL', 'XL', 'Extra Large', '5x7 in', 'S',
       '12x18 in', 'M', 'L', 'Large', '50x70 cm', '10x10 cm', '8x10 in',
       '100x200 mm', 'XS', '15x20 cm', '30x40 cm'], dtype=object)

In [138]:
df_produtos.groupby("Category").agg({
    "Preco": ["mean", "std"]
})

                                      Preco
                                       mean         std
Category
Accessories (Bags, Hats, Belts)  503.206897  309.538294
Automotive                       448.242424  266.017155
Beauty & Personal Care           607.034483  282.143009
Bedding & Bath                   484.000000  235.001560
Books & Stationery               508.743590  298.109545
Cameras & Accessories            539.875000  271.335235
Camping & Hiking                 429.241379  261.770436
Cleaning Supplies                471.085714  263.979987
Clothing & Apparel               478.250000  254.095750
Cycling                          453.800000  300.127600
Fishing & Hunting                492.437500  308.093611
Fitness Equipment                615.842105  261.859009
Fragrances                       403.343750  280.311993
Furniture                        468.038462  292.264740
Grooming Tools                   549.605263  264.785639
Haircare                         528.640000  249.141840
Headphones & Earbuds             461.906250  295.683610
Health & Wellness                577.026316  323.016231
Home & Kitchen                   572.575758  262.379500
Home Decor                       511.805556  258.228229
Kids' Clothing                   585.590909  283.363246
Kitchen Appliances               470.666667  286.312948
Laptops & Computers              448.240000  303.746095
Makeup                           514.037037  318.929517
Men's Clothing                   462.678571  317.033244
Office Supplies                  412.076923  321.584070
Shoes & Footwear                 603.206897  268.285746
Skincare                         490.200000  303.606188
Smartphones                      589.192308  290.188217
Smartwatches                     502.750000  259.805243
Sports & Outdoors                498.142857  272.700041
Team Sports                      546.259259  260.934798
Toys & Games                     521.375000  321.840065
Women's Clothing                 538.434783  224.731320

In [141]:
makeup_products = df_produtos[df_produtos["Category"] == "Makeup"]
makeup_products.to_csv("makeup.csv")