In [3]:
import pandas as pd

path = "dados/vendas_produtos.csv"

df_vendas = pd.read_csv(path)

df_vendas.head()

           Cidade  Preco_venda Dia_semana Tipo_venda Desconto   Lucro
0        Curitiba         77.0    Domingo     Remota      Sim   19.24
1    Porto Alegre        184.0     Quarta     Remota      Sim   88.37
2  Belo Horizonte        250.0     Sábado     Remota      Não   98.20
3    Porto Alegre        889.0    Segunda     Remota      Sim  301.78
4    Porto Alegre        829.0     Quinta     Online      Sim  134.64

In [8]:
df_vendas.sort_values(by=['Cidade', 'Preco_venda'], ascending=[True, False])

            Cidade  Preco_venda Dia_semana Tipo_venda Desconto   Lucro
36  Belo Horizonte        941.0    Domingo     Online      Não  208.76
34  Belo Horizonte        907.0      Terça     Online      Não  441.03
30  Belo Horizonte        844.0     Sábado     Online      Não  289.51
11  Belo Horizonte        777.0     Sábado     Remota      Não  379.15
89  Belo Horizonte        759.0     Quinta     Online      Não  219.26
..             ...          ...        ...        ...      ...     ...
81       São Paulo        434.0    Domingo     Online      Sim  151.60
76       São Paulo        397.0     Quinta     Online      Não  162.18
87       São Paulo        308.0      Terça     Online      Não  109.35
33       São Paulo         64.0     Quinta     Online      Sim   30.69
24       São Paulo         54.0     Sábado     Online      Sim   15.25

[100 rows x 6 columns]

### Métodos para realização de cálculos em colunas:
- abs: retorna uma lista com os valores absolutos da coluna.
- count: conta o número de células da coluna que possuem valores disponíveis.
- nunique: conta os valores distintos na coluna.
- sum: calcula a soma dos valores da coluna.
- min: obtém o menor valor da coluna
- max: obtém o maior valor da coluna
- mean: calcula a média dos valore da coluna.
- median: obtém a mediana dos valores da coluna.

In [16]:
df_rh = pd.read_csv("dados/rh.csv")
df_rh.head()

,Departamento,Cargo,Nome,Salario,Data_Contratacao,Horas_Diarias
0,Tecnologia,Desenvolvedor Sênior,Sofia Ribeiro,12500.50,2021-03-15,40
1,Vendas,Gerente de Vendas,Lucas Martins,9800.00,2019-07-22,40
2,RH,Analista de RH,Julia Almeida,4800.75,2022-01-10,40
3,Marketing,Especialista em SEO,Mateus Santos,6200.00,2021-11-05,40
4,Tecnologia,Desenvolvedor Júnior,Isabela Ferreira,4500.00,2023-06-20,40

In [19]:
print(f"Quantidade de funcionarios: {df_rh.Nome.count()}")

Quantidade de funcionarios: 98

In [23]:
folha_de_pagamento = df_rh.Salario.sum()
print(f"A folha de pagamento é de R$ {folha_de_pagamento:.2f}")

A folha de pagamento é de R$ 637494.20

In [25]:
salario_medio = df_rh["Salario"].mean()
print(f"O salário médio da empresa é de R$ {salario_medio:.2f}")

O salário médio da empresa é de R$ 6505.04

In [27]:
menor_salario = df_rh["Salario"].min()
print(f"O menor salário da empresa é de R$ {menor_salario:.2f}")

O menor salário da empresa é de R$ 1500.00

In [30]:
maior_salario = df_rh["Salario"].max()
print(f"O maior salário da empresa é de R${maior_salario:.2f}")

O maior salário da empresa é de R$13800.90

In [32]:
mediana = df_rh["Salario"].median()
print(f"A mediana dos salários é de R$ {mediana:.2f}")

A mediana dos salários é de R$ 5275.62