In [1]:
import pandas as pd

In [2]:
path = "dados.csv"
dados = pd.read_csv(path)
dados.head()

         Data  Produto    Categoria   Preco  Quantidade Vendedor
0  2023-01-05  Teclado  Periféricos   150.0           2      Ana
1  2023-01-05    Mouse  Periféricos    50.0           3      Ana
2  2023-01-12  Monitor    Monitores  1200.0           1   Carlos
3  2023-01-15  Teclado  Periféricos   150.0           1  Beatriz
4  2023-01-18   Webcam   Acessórios   250.0           2   Carlos

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        10 non-null     object
 1   Produto     10 non-null     object
 2   Categoria   10 non-null     object
 3   Preco       10 non-null     float64
 4   Quantidade  10 non-null     int64
 5   Vendedor    10 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 612.0+ bytes

In [4]:
dados["Produto"]

0    Teclado
1      Mouse
2    Monitor
3    Teclado
4     Webcam
5      Mouse
6    Monitor
7     Webcam
8    Headset
9    Teclado
Name: Produto, dtype: object

In [5]:
dados[dados["Vendedor"] == "Ana"]

         Data  Produto    Categoria  Preco  Quantidade Vendedor
0  2023-01-05  Teclado  Periféricos  150.0           2      Ana
1  2023-01-05    Mouse  Periféricos   50.0           3      Ana
5  2023-02-02    Mouse  Periféricos   50.0           5      Ana
8  2023-02-20  Headset   Acessórios  350.0           3      Ana

In [6]:
dados["Total Venda"] = dados["Quantidade"] * dados["Preco"]
dados.head()

         Data  Produto    Categoria   Preco  Quantidade Vendedor  Total Venda
0  2023-01-05  Teclado  Periféricos   150.0           2      Ana        300.0
1  2023-01-05    Mouse  Periféricos    50.0           3      Ana        150.0
2  2023-01-12  Monitor    Monitores  1200.0           1   Carlos       1200.0
3  2023-01-15  Teclado  Periféricos   150.0           1  Beatriz        150.0
4  2023-01-18   Webcam   Acessórios   250.0           2   Carlos        500.0

In [7]:
dados.groupby("Categoria")["Quantidade"].sum()

Categoria
Acessórios      6
Monitores       3
Periféricos    13
Name: Quantidade, dtype: int64

In [8]:
dados.groupby("Vendedor")["Total Venda"].sum()

Vendedor
Ana        1750.0
Beatriz    2850.0
Carlos     1950.0
Name: Total Venda, dtype: float64

In [9]:
quantidade_produtos_vendidos = dados.groupby("Produto")["Quantidade"].sum()
quantidade_produtos_vendidos.idxmax()

'Mouse'

In [10]:
dados["Data"] = pd.to_datetime(dados["Data"])
dados[dados["Data"].dt.month == 2]

        Data  Produto    Categoria   Preco  Quantidade Vendedor  Total Venda
5 2023-02-02    Mouse  Periféricos    50.0           5      Ana        250.0
6 2023-02-08  Monitor    Monitores  1200.0           2  Beatriz       2400.0
7 2023-02-10   Webcam   Acessórios   250.0           1   Carlos        250.0
8 2023-02-20  Headset   Acessórios   350.0           3      Ana       1050.0
9 2023-02-25  Teclado  Periféricos   150.0           2  Beatriz        300.0

In [11]:
produtos_com_total_venda_acima_da_media = dados[dados["Total Venda"] > dados["Total Venda"].mean()]

produtos_com_total_venda_acima_da_media

        Data  Produto   Categoria   Preco  Quantidade Vendedor  Total Venda
2 2023-01-12  Monitor   Monitores  1200.0           1   Carlos       1200.0
6 2023-02-08  Monitor   Monitores  1200.0           2  Beatriz       2400.0
8 2023-02-20  Headset  Acessórios   350.0           3      Ana       1050.0